
set mark-symlinked-directories on
set show-all-if-unmodified on
set show-all-if-ambiguous on

"\e[A": history-search-backward
"\e[B": history-search-forward
set completion-ignore-case off

# alt-backspace delete word
"ÿ": backward-kill-word

# alt-arrow keys
"\e[1;3A": "cd ..\nl\n"
"\e[1;3D": backward-word
"\e[1;3C": forward-word
"\e[1;3B": "cd -\n"

# arrow keys
"\e[OA": history-search-backward
"\e[OB": history-search-forward
