! xrdb -merge .Xresources
UXTerm*background:	rgb:18/18/18
UXTerm*foreground:	Grey
UXTerm*faceName:	DejaVu Sans Mono
UXTerm*faceSize: 12
UXTerm*scrollTtyOutput: False
UXTerm*cursorBlink: False
UXTerm*saveLines: 10000
UXTerm*cursorColor: rgb:00/99/00
UXTerm*UXTerm: True
UXTerm*highlightSelection: True
UXTerm*boldMode: False
UXTerm*termName: xterm-color
UXTerm*charClass: 33:48,35:48,37:48,42:48,45-47:48,58:48,63-64:48,95:48,126:48
UXTerm*cutNewLine: false
UXTerm*cutToBeginningOfLine: false
Xcursor.theme: big-cursor
*customization: -color

Xautolock.time: 10
Xautolock.locker: xtrlock
Xautolock.corners: 00+0
Xautolock.cornerdelay: 1
Xautolock.cornerredelay: 5
Xautolock.notify: 1
Xautolock.notifier: ratpoison -c "echo Locking soon"
