Host *
  GSSAPIAuthentication no
  ServerAliveInterval 30
  ForwardAgent yes

Host silver2
  Hostname silver2.s

Host silver2.s silver2 noss.a alou.c noss alou.n
  Port 443

Host raw-s.n raw allocp.n allocp.c mail prod dev
  ProxyCommand  ssh -W %h:%p alla@silver2.s

Host flora alamo
  ProxyCommand  ssh -W %h:%p alla@logi.cy

Host alloc-scratch
  User cyber
  ProxyCommand  ssh -W %h:%p alla@flora
  LocalForward 3333 localhost:80

